<% provide(:title, '勤怠確認') %>

<div>
  <div>
    <table class="table-bordered table-condensed">
      <tbody>
        <tr>
          <td colspan="2">
            <%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month}),
                             class: "btn btn-xs btn-primary", style: "display: none;" %>
            &emsp;<%= @first_day.to_s(:year_month) %> 時間管理表&emsp;
            <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month}),
                             class: "btn btn-xs btn-primary", style: "display: none;" %>
          </td>
          <td colspan="1">指定勤務開始時間:<%= format_basic_time(@user.designated_work_start_time) %><br>
                          指定勤務終了時間:<%= format_basic_time(@user.designated_work_end_time) %></td>
          <td colspan="2">基本時間:<%= format_basic_time(@user.basic_work_time) %></td>
          <td colspan="1">初日 <%= @first_day.to_s(:date) %></td>
        </tr>
        <tr>
          <td colspan="2">所属:<%= @user.affiliation.present? ? @user.affiliation : "未設定" %></td>
          <td colspan="1">名前:<%= @user.name %></td>
          <td colspan="1">コード:<%= @user.id %></td>
          <td colspan="1">出勤日数:<%= @worked_sum %>日</td>
          <td colspan="1">締日 <%= @last_day.to_s(:date) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <br>
  
  <table class="table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">[実績]</th>
        <th colspan="5">[所定外勤務]</th>
      </tr>
      <tr>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外勤務</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @dates.each do |day| %>
        <tr>
          <td><%= link_to "残業申請", edit_attendances_overtime_path(@user, day.worked_on), remote: true, class: "btn btn-primary", style: "display: none;" %></td>
          <td><%= day.worked_on.to_s(:date) %></td>
          <td>
            <% if day.worked_on.wday == 0 %>
              <font color="red">日</font>
            <% elsif day.worked_on.wday == 6 %>
              <font color="blue">土</font>
            <% else %>
              <%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %>
            <% end %>
          </td>
          <td>
            <% if day.started_at_2.present? %>
              <%= day.started_at_2.to_s(:hour) %>
            <% elsif day.started_at.present? %>
              <%= day.started_at.to_s(:hour) %>
            <% end %>
          </td>
          <td>
            <% if day.started_at_2.present? %>
              <%= day.started_at_2.time.to_s(:min) %>
            <% elsif day.started_at.present? %>
              <%= day.started_at.to_s(:min) %>
            <% end %>
          </td>
          <td>
            <% if day.worked_on == Date.today && day.started_at.nil? %>
              <%= button_to "出社", user_attendances_path(@user), class: "btn btn-xs btn-primary", style: "display: none;" %>
            <% end %>
          </td>
          <td>
            <% if day.finished_at_2.present? %>
              <%= day.finished_at_2.to_s(:hour) %>
            <% elsif day.finished_at.present? %>
              <%= day.finished_at.to_s(:hour) %>
            <% end %>
          </td>
          <td>
            <% if day.finished_at_2.present? %>
              <%= day.finished_at_2.to_s(:min) %>
            <% elsif day.finished_at.present? %>
              <%= day.finished_at.to_s(:min) %>
            <% end %>
          </td>
          <td>
            <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
              <%= button_to "退社", user_attendances_path(@user), class: "btn btn-xs btn-primary", style: "display: none;" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at_2.present? && day.finished_at_2.present? && day.attendance_next == true %>
              <%= working_times_attendance(day.started_at_2, day.finished_at_2) %> 
              <% seconds = (day.finished_at_2 - day.started_at_2) %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <% elsif day.started_at_2.present? && day.finished_at_2.present? %>
              <%= working_times_2(day.started_at_2, day.finished_at_2) %> 
              <% seconds = (day.finished_at_2 - day.started_at_2) %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <% elsif day.started_at.present? && day.finished_at.present? %>
              <%= working_times(day.started_at, day.finished_at) %> 
              <% seconds = (day.finished_at - day.started_at) %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <!-- 残業申請 -->
          <td><%= day.expected_end_time.to_s(:hour) if day.expected_end_time.present? %></td>
          <td><%= day.expected_end_time.to_s(:min) if day.expected_end_time.present? %></td>
          <td>
            <% if day.next == true %>
              <%= format_over_time(day.expected_end_time).to_f - format_basic_time(@user.designated_work_end_time).to_f %>
            <% elsif day.expected_end_time.present? %>
              <%= format_basic_time(day.expected_end_time).to_f - format_basic_time(@user.designated_work_end_time).to_f %>
            <% end %>
          </td>
          <td><%= day.overtime_work %></td>
          <td>
            <% @users.each do |user| %>
              <% if day.overtime_mark == 3 && day.overtime_change == true && day.superior_select == user.id %>
                <%= "#{user.name}から残業【承認】"%><br>
              <% elsif day.overtime_mark == 4 && day.overtime_change == true && day.superior_select == user.id %>
                <%= "#{user.name}から残業【否認】"%><br>
              <% elsif day.superior_select == user.id %>
                <%= "#{user.name}へ残業【申請中】"%><br>
              <% end %>
              <% if day.attendance_mark == 3 && day.attendance_change == true && day.superior_selection == user.id %>
                <%= "#{user.name}から勤怠変更【承認】"%>
              <% elsif day.attendance_mark == 4 && day.attendance_change == true && && day.superior_selection == user.id %>
                <%= "#{user.name}から勤怠変更【否認】"%>
              <% elsif day.superior_selection == user.id %>
                <%= "#{user.name}へ勤怠変更【申請中】"%>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan="2"><%= format_basic_time(@user.basic_time).to_f * @worked_sum %></td>
        <td colspan="7"></td>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td colspan="5"></td>
        <td>
          <% @dates.each do |day| %>
            <% @users.each do |user| %>
              <% if day.superior_mark == 3 && day.superior_change == true && day.superior_selector == user.id %>
                <%= "所属長承認 #{user.name}から承認済"%>
              <% elsif day.superior_mark == 4 && day.superior_change == true && day.superior_selector == user.id %>
                <%= "所属長承認 #{user.name}から否認"%>
              <% elsif day.superior_selector == user.id %>
                <%= "所属長承認 未"%>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
