<% provide(:class_text, '残業申請') %>
<% provide(:button_text, '更新') %>

<!--残業申請お知らせmodal-->
<%= form_with(model: @user, url: update_overtime_notice_path(@user), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <% @users.each do |user| %>
        <div class="modal-body">
          <div class="row">
            <h4 class="modal-title text-center"><%= "【#{user.name}からの残業申請】" %></h4>
            <table class="table-bordered table-condensed">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>指定勤務終了時間</th>
                  <th>時間外時間</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                  <th>変更</th>
                  <th>勤怠を確認する</th>
                </tr>
              </thead>
              <tbody>
                <%# if @attendance.overtime_change == false && @attendance.overtime_mark == 2 %>
                <% @attendances.where(user_id: user.id).order(:worked_on).each do |attendance| %>
                
                  <%= fields_for "attendances[]", attendance do |af| %>
                  
                    <tr>
                      <td><%= l(attendance.worked_on, format: :short) %></td>
                      <td>
                        <% if attendance.worked_on.wday == 0 %>
                          <font color="red">日</font>
                        <% elsif attendance.worked_on.wday == 6 %>
                          <font color="blue">土</font>
                        <% else %>
                          <%= %w{日 月 火 水 木 金 土}[attendance.worked_on.wday] %>
                        <% end %>
                      </td>
                      <td><%= l(attendance.expected_end_time, format: :time) if attendance.expected_end_time.present? %></td>
                      <td><%= format_basic_time(@user.designated_work_end_time) %></td>
                      <td>
                        <% if attendance.next == true %>
                          <%= format_over_time(attendance.expected_end_time).to_f - format_basic_time(@user.designated_work_end_time).to_f %>
                        <% elsif attendance.expected_end_time.present? %>
                          <%= format_basic_time(attendance.expected_end_time).to_f - format_basic_time(@user.designated_work_end_time).to_f %>
                        <% end %>
                      </td>
                      <td><%= attendance.overtime_work %></td>
                      <td><%= af.select(:overtime_mark, {"なし" => 1, "申請中" => 2, "承認" => 3, "否認" => 4})%></td>
                      <td><%= af.check_box :overtime_change, class: "checkbox inline" %></td>
                      <td></td>
                    </tr>
                    <% end %>
                  <% end %>
                <%# end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
      <div class="center btn-modal-update">
        <%= f.submit "承認結果を送信する", class: "btn btn-primary" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
<% end %>
