<% provide(:title, "勤怠編集") %>

<%= render partial: 'shared/error_messages', locals: { product: @attendance} %>
<div>
  <h1>勤怠編集画面</h1>
  <%= form_with(model: @user, url: update_attendances_path(params: {id: @user.id}), local: :true, method: :patch) do |f| %>
    <table class="table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出社</th>
          <th>退社</th>
          <th>翌日</th>
          <th>在社時間</th>
          <th>備考</th>
          <th>指示者確認</th>
        </tr>
      </thead>
      <tbody>
        <% @dates.each do |day| %>
          <%= fields_for "attendances[]", day do |af| %>
            <tr>
              <td><%= day.worked_on.to_s(:date) %></td>
              <td>
                <% if day.worked_on.wday == 0 %>
                  <font color="red"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></font>
                <% elsif day.worked_on.wday == 6 %>
                  <font color="blue"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></font>
                <% else %>
                  <%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %>
                <% end %>
              </td>
              <td>
                <% if day.worked_on > Date.today %>
                  <%= af.time_field :started_at_2, :readonly => true, class: "form-control" %>
                <% elsif day.started_at.present? %>
                  <%= af.time_field :started_at_2, value: (day.started_at.strftime("%H:%M")), class: "form-control" %>
                <% else %>
                  <%= af.time_field :started_at_2, class: "form-control" %>
                <% end %>
              </td>
              <td>
                <% if day.worked_on > Date.today %>
                  <%= af.time_field :finished_at_2, :readonly => true, class: "form-control" %>
                <% elsif day.finished_at.present? %>
                  <%= af.time_field :finished_at_2, value: (day.finished_at.strftime("%H:%M")), class: "form-control" %>
                <% else %>  
                  <%= af.time_field :finished_at_2, class: "form-control" %>
                <% end %>
              </td>
              <td>
                <% if day.worked_on > Date.today %>
                  <%= af.check_box :attendance_next, :disabled => true, class: "checkbox inline" %>
                <% else %>  
                  <%= af.check_box :attendance_next, class: "checkbox inline" %>
                <% end %>
              </td>
              <td>
                <% if day.started_at_2.present? && day.finished_at_2.present? && day.attendance_next == true %>
                  <%= working_times_attendance(day.started_at_2, day.finished_at_2) %>
                <% elsif day.started_at_2.present? && day.finished_at_2.present? %>
                  <%= working_times_2(day.started_at_2, day.finished_at_2) %>
                <% elsif day.started_at.present? && day.finished_at.present? %>
                  <%= working_times(day.started_at, day.finished_at) %>
                <% end %>
              </td>
              <td>
                <% if day.worked_on > Date.today %>
                  <%= af.text_field :note, :readonly => true, class: "form-control" %>
                <% else %>  
                  <%= af.text_field :note, class: "form-control" %>
                <% end %>
              </td>
              <td>
                <% if day.worked_on > Date.today %>
                  <%= af.collection_select :superior_selection, User.where(superior: true).where.not(id: @user.id), :id,:name, {}, disabled: true, style: "display: none;" %>
                <% else %>
                  <%= af.collection_select :superior_selection, User.where(superior: true).where.not(id: @user.id), :id,:name, :include_blank => true, selected: params[:id] %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="btn-attendances-update">
      <%= f.submit "勤怠変更申請", class: "btn btn-primary" %>
      <%= link_to "キャンセル", user_path(@user, params:{first_day: @first_day }), class: "btn btn-default btn-block" %>
    </div>
  <% end %>
</div>
